<div id="edit">
  <header>Edit Student Profile</header>
  <div id="edit_form">
  <%= render 'form' %>

  <%= link_to 'Show', @student_profile %> |
  <%= link_to 'Back', student_profiles_path %>
</div>
</div>
