<div id="edit">
  <header>Edit Attendence Entry</header>
  <div id="edit_form">
  <%= render 'form' %>

  <%= link_to 'Show', @attendence_entry %> |
  <%= link_to 'Back', attendence_entries_path %>
</div>
</div>
